/*Мне неудобно за такие названия*/
.wtf-dropdown{
  overflow: hidden;
}
.wtf-dropdown--absolute{
  position: absolute;
}
.wtf-scroll{
  position: absolute;
  right: 0px;
  top: 0px;

  padding-top: 5px !important;
  padding-bottom: 5px;

  height: 100%;
}
  .wtf-scroll-bg{
    height: 100%;
    background: black;
    width: 3px;
    padding: 10px 0px;
  }
  .wtf-scroll-body{
    height: 100%;
  }
  .wtf-scroll .ui-slider-handle{
    background: blue;
    height: 20px;
    width: 2px;
    left: 0%;
  }
  .wtf-scroll .ui-slider-handle.ui-state-focus{
    outline: 0px;
  }
